<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxy.mapper.DeviceRentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO t_device_rent(company_name, link_man, card_num, tel, address, fax, rent_date, back_date, total_day, total_price, pre_cost,creat_user, last_cost,serial_number)
       VALUES
       (#{companyName},#{linkMan},#{cardNum},#{tel},#{address},#{fax},#{rentDate},#{backDate},#{totalDay},#{totalPrice},#{preCost},#{creatUser},#{lastCost},#{serialNumber})
    </insert>
    <update id="updateCost">
      UPDATE t_device_rent SET total_price=#{total}, pre_cost=#{preCost},last_cost=#{lastCost}
      where id=#{id}
    </update>
    <update id="changState">
        UPDATE t_device_rent SET state=#{state} where id=#{id}
    </update>

    <select id="findBySerialNumber" resultType="com.sxy.pojo.DeviceRent">
        SELECT *FROM t_device_rent WHERE serial_number=#{serialNumber}
    </select>
    <select id="findRentById" resultType="com.sxy.pojo.DeviceRent">
        SELECT * FROM t_device_rent WHERE id=#{id}
    </select>
    <select id="findRentByMap" resultType="com.sxy.pojo.DeviceRent">
        SELECT * FROM t_device_rent
        limit ${start},${length}
    </select>
    <select id="findDeviceCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_device_rent
    </select>
</mapper>